dist
output
wopmetabarcoding.egg-info
__pycache__
.idea
db.sqlite
_build
data0
*.log
wopmetabarcoding/bin
doc/modules.rst
doc/wopmetabarcoding.model.rst
doc/wopmetabarcoding.rst
doc/wopmetabarcoding.utils.rst
doc/wopmetabarcoding.wrapper.rst
