exclude _build
include Makefile environment.yml environment-dev.yml requirements.txt
recursive-include doc *.md Makefile *.tsv *.yml
include doc/data/*
recursive-include vtam/data *
recursive-include vtam/data/example *
