name: CI

on: [push]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
      with:
        lfs: false
    #- name: Checkout LFS objects
    #  run: git lfs checkout
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup environment
      run: |
          # export PATH="/usr/share/miniconda/bin:$PATH"
          $CONDA/bin/conda create -q --name vtam python=${{ matrix.python-version }}
          # source activate vtam
          $CONDA/bin/conda env update -f environment.yml --name vtam
    - name: Run tests
      env:
        CI: true
      run: |
        # activate conda env
        export PATH="$CONDA/envs/vtam/bin:$PATH"
        #source activate base
        $CONDA/envs/vtam/bin/vsearch --version
        $CONDA/envs/vtam/bin/cutadapt --version
        $CONDA/envs/vtam/bin/blastn -version
        $CONDA/envs/vtam/bin/python --version
        #$CONDA/bin/python -m unittest discover -v -f

